:root {
    --bodyback: #e5e5e5;
    --headback: #ffffff;
    --footback: #2F303A;
    --textcolor: #757575;
    --headtextcolor: #212121;
    --logocolor: #2196F3;
    --buttonhover: #188ce8;
    --buttonnohover: #f5f4fa;
}
body{
    font-family:'Roboto',sans-serif;
}
/*General*/
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
/*index Header */
.head{
    background-color: var(--headback);
    color:var(--headtextcolor)
    font-weight 500;
    font-size:14px;
    line-height:1.14;
    letter-spacing:0.02em;
}
.head li:hover,
.head li:focus{
    background-color:var(--button);
    color: var(--button);
}
.navigation-link.current{
    color: var(--logocolor);
}
.logo{
    font-family:'Raleway';
    font-weight:700;
    font-size:26px;
    line-height:1.19;
    letter-spacing:0.03em;
    color: var(--logocolor)
}
.studio{
    color: #000000;
}
.tel{
    color: var(--textcolor);
}
/* Main */
.banner{
    background-color: var(--footback);
    font-weight: 900px;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--headback);
}
button{
    background: var(--logocolor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--headback);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
}
.banner>button:hover,
.banner>button:focus{
    background-color: var(--buttonhover);
    color:var(--headback);
}
.features>h3{
    color:var(--headtextcolor);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features>p{
    color: var(--textcolor);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.ourwork>h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.command{
    background-color: var(--buttonnohover);
}
.command>h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.command>li{
    background-color: var(--headback);
}
.footer{
    background-color: var(--footback);
}
.webfoot{
    color: var(--headback);
}
.adress{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255,0.6)
}
.atext{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--headback);
}
.link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.link:hover,
.link:focus{
    background-color: var(--buttonhover);
    color: var(--headback);
}
/* Portfolio*/
li>button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headtextcolor);
    background-color: var(--buttonnohover);
}
li>button:hover,
li>button:focus,
li>button.current{
    color: var(--headback);
    background-color: var(--buttonhover);
    
}
.examples{
    background: var(--headback);
}
.examples h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--headtextcolor);
}
.examples p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--textcolor);
}