body{
    font-family:'Roboto',sans-serif;
}
:root{
    --bodyback:#e5e5e5;
    --headback:#ffffff;
    --footback:#2F303A;
    --textcolor:#757575;
    --headtextcolor:#212121;
    --logocolor:#2196F3;
    --buttonhover:#188ce8;
}
/* Header */
.head{
    background-color: var(--headback);
    color:var(--headtextcolor)
    font-weight 500;
    font-size:14;
    line-height:16;
    letter-spacing:0.02em;
}
.head li:current,
.head li:hover,
.head li:focus{
    background-color:var(--button);
    color: var(--button);
}
.logo{
    font-family:'Raleway';
    font-weight:700;
    font-size:26;
    line-height:31;
    letter-spacing:0.03em;
    color: var(--logocolor)
}
.studio{
    color: #000000;
}
.tel{
    color: var(--textcolor);
}
/* Main */
.banner{
    background-color:#2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}
.banner>button{
    font-family: inherit;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: var(--logocolor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.banner>button:hover,
.banner>button:focus{
    background-color: var(--buttonhover);
    color:var(--headback);
}
.features>h3{
    color:var(--headtextcolor);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features>p{
    color: var(--textcolor);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.ourwork>h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.command{
    background-color: #F5F4FA;
}
.command>h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.command>li{
    background-color: var(--headback);
}
.footer{
    background-color: var(--footback);
}
.webfoot{
    color: #ffffff;
}
.adress{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255,0.6)
}
.atext{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.link:hover,
.link:focus{
    background-color: #188ce8;
    color: var(--headback);
}